body {
    font-family: inter, sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
    background-color: #171717;
    color: #c0c0c0; 
}
.menu {
    background-color: #800020;
    width: 100%;
    padding: 10px 0;
    display: flex; 
    justify-content: flex-end;
    align-items: center;
}

.nav-links {
    display: flex;
    padding-right: 20px; 
}

/* Estilo do Ícone de Hambúrguer (Mobile) */
.menu-icon {
    display: none;
    font-size: 2em;
    padding: 0 20px;
    cursor: pointer;
    color: #C0C0C0;
}

.links {
    color: #C0C0C0;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
}

.links:hover{
    color: #D9B700;
}


.banner {
    background-image: url('../assets/img/banner.jpg'); 
    background-size: cover;       
    background-position: center;  
    height: 368px; 
    display: flex;
    justify-content: center;
    align-items: center;     
    border-top: 5px solid #800000;
    border-bottom: 5px solid #800000;
}

.banner h1 {
    color: #FFD700;
    font-family: Cormorant Garamond, Times, serif;
    font-size: 4em; 
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8); 
    margin: 0; 
    padding: 0;
}

.content-section {
    margin: 0 300px;
}


footer{
    background-color: #800020;
    color: #D9B700;
    padding: 10px;
    justify-items: center;
    text-justify: auto;
    border-top: 3px solid #D9B700;
}