*{
    margin: 0;
}

#app-content {
    flex-grow: 1; 
    display: flex; 
    flex-direction: column;
}

body {
    font-family: inter, sans-serif;
    font-weight: 500;
    font-weight: 1em;
    margin: 0;
    padding: 0;
    background-color: #171717;
    color: #171717; 
    min-height: 100vh; 
    
    display: flex;
    flex-direction: column;
}
.menu {
    background-color: #800020;
    width: 100%;
    padding: 10px 0;
    display: flex; 
    justify-content: flex-end;
    align-items: center;
}

.logo{
    max-height: 50px;
}

.nav-links {
    display: flex;
    padding-right: 20px; 
    margin-right: 300px;
}


.menu-icon {
    display: none;
    font-size: 2em;
    padding: 0 20px;
    cursor: pointer;
    color: #C0C0C0;
}

.links {
    color: #C0C0C0;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
}

.links:hover{
    color: #D9B700;
}


.banner {
    background-image: url('../assets/img/banner.jpg'); 
    background-size: cover;       
    background-position: center;  
    height: 368px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    color: #FFD700;
    font-family: 'Cormorant Garamond', Times, serif;
    font-size: 4.8em; 
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8); 
    margin: 0; 
    padding: 0;
}

.content-section {
    margin: 40em;
    padding:0;
}

.content{
    background-color: #C0C0C0;
    margin: auto 18.75em;
    padding-bottom: 10px;
    flex-grow: 1;
    min-height: 100%; 
}

.informations{
    display: flex;
    margin: 20px;
}

.info{
    background-color: #800020;
    width: 250px;
    color: #C0C0C0;
    margin: 10px;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.informations .info p {
    font-family: 'Cormorant Garamond', Times, serif;
    font-size: 2.5rem; 
    font-weight: 700;
    text-align: center; 
    margin-bottom: 0.25em;
    line-height: 1; 
}

.informations .info span {
    font-size: 0.875rem; 
    font-weight: 500;
    align-items: center;
    justify-content: center;
    text-align: center ;
    line-height: 1.3;
}

.title {
    font-family: 'Cormorant Garamond', Times, serif;
    font-size: 3em;
    font-weight: bold;
    padding: 10px;
}

.text{
    text-indent: 1em;
    text-align: justify;
    font-size: 1em;
    font-weight: 500;
    padding: 5px 10px;
}

.card-book{
    display: flex;
    align-items: flex-center;
    gap: 20px;
    background-color: #E2E2E2;
    border: #800020 solid 2px;
    color: #171717;
    padding: 10px;
    margin: 50px 10px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.card-book:hover {
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
    transform: translateY(-4px);
    transition: all 0.3s ease;
}


.book-cover img {
    width: 200px;               
    height: auto;
    border-radius: 8px;
}

.content-book {
    display: flex;
    flex-direction: column;     
    justify-content: space-evenly;
}

.content-book h2 {
    font-size: 1.66em;
    margin-top: 0;
}

.summary{
    text-indent: 1em;
    font-size: 1em;
    padding: 5px;
}

.Learn-more {
    color: #800020;
    text-decoration: none;
    font-weight: bold;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
    align-self: flex-end;
}

.Learn-more:hover {
    text-decoration: underline;
}


#titulo-contato {
    text-align: center;
    margin-bottom: 10px;
}
#Contato p {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
}
.contact-form {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    margin: 0 auto; /* Centraliza o formulário dentro do bloco .content */
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    margin: 10px 0; /* Margem vertical para separação */
    border: none;
    border-radius: 5px;
    box-sizing: border-box; 
    font-size: 16px;
    color: #333; 
    opacity: 1; 
    background-color: #F0F0F0;
    border: #800020 solid 2px;
}

.contact-form textarea {
    resize: none; 
    min-height: 200px;
    display: block;
}

.input-group {
    display: flex;
    align-items: stretch;
    gap: 10px;
}

.input-group input {
    flex: 1; 
}


.contact-form > input[type="text"]:first-child {
    margin-bottom: 20px;
}

/* --- Rodapé --- */
footer {
    font-size: 0.875em;
    background-color: #800020;
    color: #D9B700;
    padding: 10px;
    text-align: center;
    border-top: 5px solid #D9B700;
    margin-top: auto;
    
}

