*{
    margin: 0;
}

#app-content {
    flex-grow: 1; 
    display: flex; 
    flex-direction: column;
}

body {
    font-family: inter, sans-serif;
    font-weight: 500;
    font-weight: 1em;
    margin: 0;
    padding: 0;
    background-color: #171717;
    color: #171717; 
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.menu {
    background-color: #800020;
    padding: 10px ; 
    display: flex; 
    justify-content: space-between;
}

.logo{
    max-height: 50px;
    margin-left: 100px;
}

.nav-links {
    display: flex;
    padding-right: 20px; 
    margin-right: 100px;
}

.nav-links .links.active, .nav-links .links.active:hover {
    color: #D9B700;
}


.menu-icon {
    display: none;
    font-size: 2em;
    padding: 0 20px;
    cursor: pointer;
    color: #C0C0C0;
}

.links {
    color: #C0C0C0;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
}

.links:hover{
    color: #D9B700;
}


.banner {
    background:
        linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), 
        url('../assets/img/banner.jpg'); 
    background-size: cover;       
    background-position: center;  
    height: 368px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    color: #FFD700;
    font-family: 'Cormorant Garamond', Times, serif;
    font-size: 4.8em; 
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8); 
    margin: 0; 
    padding: 0;
}

.content-section {
    margin: 40em;
    padding:0;
}

.content{
    background-color: #C0C0C0;
    margin: auto 5em;
    padding-bottom: 10px;
    flex-grow: 1;
    min-height: 100%; 
}

.informations{
    display: flex;
    margin: 20px;
}

.info{
    background-color: #800020;
    width: 250px;
    color: #C0C0C0;
    margin: 10px;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.informations .info p {
    font-family: 'Cormorant Garamond', Times, serif;
    font-size: 2.5rem; 
    font-weight: 700;
    text-align: center; 
    margin-bottom: 0.25em;
    line-height: 1; 
}

.informations .info span {
    font-size: 0.875rem; 
    font-weight: 500;
    align-items: center;
    justify-content: center;
    text-align: center ;
    line-height: 1.3;
}

.title {
    font-family: 'Cormorant Garamond', Times, serif;
    font-size: 3em;
    font-weight: bold;
    padding: 10px 250px;
}

.subtitle {
    font-family: 'Cormorant Garamond', Times, serif;
    font-size: 2em;
    font-weight: bold;
    padding: 10px;
}

.text{
    text-indent: 0;
    text-align: justify;
    font-size: 1.25em;
    font-weight: 500;
    padding: 5px 250px;
}

.list {
    margin: 10px 40px;
    font-size: 1em;
    font-weight: 500;
    padding: 5px 10px;
}

/* Página Home */

#title-home {
    text-align: center;
    margin-top: 20px;
}

#subtitle-home {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 46px;
}

.informations {
    justify-content: center;
}

.benefits-container {
    display: flex;
    justify-content: center; 
    background-color: #c0c0c0; 
    max-width: 1000px;
    margin: 20px auto;
}

.benefit-item {

    padding: 20px 30px;
    max-width: 300px;
}

.benefit-item h3 {
    color: #333;
    text-align: center;
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 15px;
}

.benefit-item p {
    font-size: 1.25em;
    text-align: center;
    color: #444;
    line-height: 1.6;
    margin: 0;
}

/* Flip cards*/

.card-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    
    max-width: 1000px;
    margin: 20px auto;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 400px;
    perspective: 1000px; 
    flex-basis: 300px;
    flex-grow: 0;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
}

.flip-card-front {
    background-color: #E2E2E2;
    color: #171717;
}

.flip-card-front img {
    width: 100%;
    height: 120%;
    object-fit: cover;
}

.flip-card-front h3 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white!important;
    background-color: rgba(0,0,0,0.7);
    padding: 5px 150px;
    border-radius: 10px;
}


.flip-card-back {
    background-color: #800020; 
    color: #C0C0C0; 
    transform: rotateY(180deg);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; 
}

.flip-card-back h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.flip-card-back p {
    font-size: 1em;
    line-height: 1.5;
}

.flip-card-back .Learn-more {
    color: #D9B700; 
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
    justify-self: center;
    padding: 5px;
    cursor: pointer;
}

.flip-card-back .Learn-more:hover {
    text-decoration: underline;
}

/* Página de gêneros*/

.card-book{
    display: flex;
    align-items: flex-center;
    gap: 20px;
    background-color: #E2E2E2;
    border: #800020 solid 2px;
    color: #171717;
    padding: 10px;
    margin: 50px 250px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.card-book:hover {
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
    transform: translateY(-4px);
    transition: all 0.3s ease;
}


.book-cover img {
    width: 200px;               
    height: auto;
    border-radius: 8px;
}

.content-book {
    display: flex;
    flex-direction: column;     
    justify-content: space-evenly;
}

.content-book h2 {
    font-size: 1.66em;
    margin-top: 0;
}

.author {
    text-indent: 0;
    font-size: 1em;
    padding: 5px;
}

.stars {
    color: gold;
    font-size: 18px;
  }

.summary{
    text-indent: 0;
    font-size: 1em;
    padding: 5px;
}

.Learn-more {
    color: #800020;
    text-decoration: none;
    font-weight: bold;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
    align-self: flex-end;
}

.Learn-more:hover {
    text-decoration: underline;
}

/* Resenhas*/

.about-book {
    width: 100%;
    padding: 10px;
    margin: 20px 250px;
    font-family: 'Inter', sans-serif;
}

.about-book h1 {
    font-family: 'Cormorant Garamond', Times, serif;
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: left;
}

.book-content-wrapper {
    display: flex; 
    gap: 25px;
    align-items: flex-start; 
}


.book-content-wrapper img {
    width: 250px;
    height: auto; 
    flex-shrink: 0; 
    border-radius: 10px; 
}


.book-details {
    flex-grow: 1;
    font-size: 1em;
    line-height: 1.5;
}

.book-details p {
    max-width: 910px;
    font-size: 1.25em;
    text-align: justify;
    white-space: pre-wrap;
    margin-top: 0; 
    line-height: 1.6;
}

.subtitle{
    font-family: 'Cormorant Garamond', Times, serif;
    font-size: 2em;
    font-weight: bold;
    padding: 5px;
    margin: 20px 250px;
    text-align: center;
}

.resenha-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1400px;
  margin: 30px auto;
  justify-items: center;
}

.resenha-cards .flip-card {
  width: 100%;
  max-width: 260px;
  height: 380px;
}

/* Contato */

#titulo-contato {
    font-size: 4.8em;
    text-align: center;
    margin-bottom: 10px;
}

#Contato p {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 20px;
}

.contact-form {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    margin: 0 auto; 
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    box-sizing: border-box; 
    font-size: 16px;
    color: #333; 
    opacity: 1; 
    background-color: #F0F0F0;
    border: #800020 solid 2px;
}

.contact-form textarea {
    resize: none; 
    min-height: 200px;
    display: block;
}

.input-group {
    display: flex;
    align-items: stretch;
    gap: 10px;
}

.input-group input {
    flex: 1; 
}


.contact-form > input[type="text"]:first-child {
    margin-bottom: 20px;
}

.button {
    display: block;
    margin: 0 auto;
    width:  200px;
    background-color: #800020;
    color: #C0C0C0;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* --- Rodapé --- */
footer {

    font-size: 0.875em;
    background-color: #800020;
    color: #D9B700;
    padding: 10px;
    text-align: center;
    border-top: 5px solid #D9B700;
    margin-top: auto;
}