*{
    margin: 0;
}

section{
    margin: 0;
    padding: 10px 0;
}

body {
    font-family: inter, sans-serif;
    font-weight: 500;
    font-weight: 1em ;
    margin: 0;
    padding: 0;
    background-color: #171717;
    color: #171717; 
}
.menu {
    background-color: #800020;
    width: 100%;
    padding: 10px 0;
    display: flex; 
    justify-content: flex-end;
    align-items: center;
}

.nav-links {
    display: flex;
    padding-right: 20px; 
}

/* Estilo do Ícone de Hambúrguer (Mobile) */
.menu-icon {
    display: none;
    font-size: 2em;
    padding: 0 20px;
    cursor: pointer;
    color: #C0C0C0;
}

.links {
    color: #C0C0C0;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
}

.links:hover{
    color: #D9B700;
}


.banner {
    background-image: url('../assets/img/banner.jpg'); 
    background-size: cover;       
    background-position: center;  
    height: 368px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    color: #FFD700;
    font-family: 'Cormorant Garamond', Times, serif;
    font-size: 4.8em; 
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8); 
    margin: 0; 
    padding: 0;
}

.content-section {
    margin: 0 300px;
    padding:0;
}

.content{
    background-color: #C0C0C0;
    margin: auto 300px;
}

.title {
    font-family: 'Cormorant Garamond', Times, serif;
    font-size: 3em;
    font-weight: bold;
    padding: 10px;
}

.text{
    text-indent: 1em;
    font-size: 1em;
    font-weight: 500;
    padding: 5px 10px;
}
.card-book{
    display: flex;
    align-items: flex-center;
    gap: 20px;
    background-color: #E2E2E2;
    border: #800020 solid 2px;
    color: #171717;
    padding: 10px;
    margin: 50px 10px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.card-book:hover {
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
    transform: translateY(-4px);
    transition: all 0.3s ease;
}


.book-cover img {
    width: 200px;                /* Tamanho fixo ou ajustável */
    height: auto;
    border-radius: 8px;
}

.content-book {
    display: flex;
    flex-direction: column;     
    justify-content: space-evenly;
}

.content-book h2 {
    font-size: 1.66em;
    margin-top: 0;
}

.summary{
    text-indent: 1em;
    font-size: 1em;
    padding: 5px;
}

.Learn-more {
    color: #800020;
    text-decoration: none;
    font-weight: bold;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
    align-self: flex-end;
}

.Learn-more:hover {
    text-decoration: underline;
}

/* Contato*/

footer{
    font-size: 0.875em;
    background-color: #800020;
    color: #D9B700;
    padding: 10px;
    justify-items: center;
    text-justify: auto;
    border-top: 3px solid #D9B700;
}
